@import url(https://fonts.googleapis.com/css?family=PT+Sans);
* { margin:0;padding:0;box-sizing:border-box;}
.wrapper {
    max-width: 75em;
    margin: auto;
}

#heroborder {
 	background-image: url("..//images/direwolf2.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding: 2em;
 	height: 100vh;
 	color: #FFF;
}

#hero {
    padding: 2em;
    height: 100%;
    border: 1px solid grey;
}

body {
	color: rgba(0,0,0,.87);
	font-family: 'proxima-nova', sans-serif;
	line-height: 1.5;
    font-size: 1em;
}

header {
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	float: left;
	padding: 2em;
}

nav {
	float: right;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-top: 2em;
}

nav a {
	color: white;
	text-decoration: none;
}

a {
    text-decoration: none;
    transition-duration: .25s;
}

.logo {
	color: white;
	font-size: 3em;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	letter-spacing: .75em;
	text-align: left;
	margin-top: 0;
	line-height: 1.5em;
	float: left;
	}

#byline {
	font-style: italic;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	text-align: left;
}

h2 {
	font-size: 2em;
	font-weight: normal;
}

.primarybutton {
    color: inherit;
    background-color: transparent;
    padding: 1em 2em;
    font-size: 1em;
    border: 2px solid;
    display: inline-block;
    margin-top: 5em;
}

.primarybutton:hover {
    border: 2px solid grey;
    background-color: grey;
    color: black;
}

h3 {	
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;	
    margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	float: left;
	font-size: 1.15em;
	width: 33.33%;
	text-align: center;
	line-height: 50px;
	color: black;
    border: 1px solid rgba(0,0,0,.25);
}

.description {
   margin: 0 70px 0 70px;
}

p {
	font-weight: normal;
	line-height: 2em;
}

#about {
	position: relative;
}

#work {
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#project {
    font-size: 1em;
    float: left;
    width: 48%;
    padding: 1em;
    margin-left: 20px;
}

.projectborder {
    border: 1px solid grey;
    min-height: 200px;
    color: white;
    padding: 2em;

}

#dot {

}

.projectborder:hover {
    background-color: rgba(74, 74, 74, .25);
}

.secondarybutton {
    color: white;
    font-size: 1em;
    display: block;
    border: 2px solid;
    padding: 1em 2em;
    text-align: center;
}

.secondarybutton:hover {
    color: grey;
    border: 2px white solid;
    background-color: white
}

#downloads {
	clear: both;
}

#contact {
    text-decoration: none;
}

footer {
    margin: 40px 0 40px 0;
    text-align: center;
}

@media only screen and (max-width: 1058px) {
  .logo {    
    font-size: 2.75em;
    }
}

@media only screen and (max-width: 768px) {
   .logo {    
    font-size: 2em;
    text-align: center;
    }
  nav {    
    float: none;
    }

h1, h2, p{
    font-size: .75;
    text-align: center;

    }  
}



