@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.wrapper {
    width: 100%;
}

#heroborder {
 	background-image: url("..//images/direwolf2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    padding: 20px;
}

body {
	color: black;
	font-family: 'proxima-nova', sans-serif;
    width: 100%;
    margin: 0px;
}

header {
	font-size: 1em;
	font-weight: normal;
    width: 100%;
}

nav {
	float: right;
	text-transform: uppercase;
	letter-spacing: .5em;
}

nav a {
	color: white;
	text-decoration: none;
}

a {
    text-decoration: none;
}

#hero {
    padding: 1%;
	text-align: center;
	min-height: 100vh;
    border: 1px solid grey;
}

.logo {    
	color: white;
    /*color is not working*/
	background-color: rgba(3 3 3 .5);
	font-size: 3em;
	font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    letter-spacing: .75em;
	text-align: left;
	margin-top: 0;
	line-height: 1.5em}

#title {
	color: white;
	font-family: 'proxima-nova', sans-serif;
	font-size: 3em;
	text-align: left;
    /* placement with margin - good idea? 
    why does margin spill to bottom if tag is margin-top?*/
    margin-top: 140px;
}

#byline {
	color: white;
	text-align: left;
	font-family: 'proxima-nova', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.5em;
}

h1 {
	color: black;	
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
}

h2 {	
	font-size: 1.5em;
	font-weight: normal;
	margin-left: 20px;
	margin-bottom: 0;
}

.primarybutton {
    color: white;
    background-color: transparent;
    padding: 16px 32px;
    font-size: 1em;
    border: 2px solid white;
    position: relative;
    top: 200px;
}

.primarybutton:hover {
    border: 2px solid grey;
    background-color: grey;
    color: black;
}

h3 {	
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;	
    margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	float: left;
    font-size: 1.15em;
    width: 30%;
    padding-left: 2%;
 	text-align: center;
  	line-height: 50px;
  	color: black;
}

p {
	font-size: 1.15em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0px 20px 0px 20px;
}

#about-me {
	position: relative;
    padding: 1%;
}

#work {
	clear: both;
    padding: 1%;
}

/*where should this really go? DO I need this when I have dlear:both meethod in #downloads?*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*why arenb;t these columns spaced out like the li columns?*/
article {
    font-size: .75em;
    float: left;
    padding-left: 2%;
    width: 30%;
}

#projectborder {
    border: 1px solid grey;
    min-height: 145px;
    background-color: rgba(74, 74, 74, .25);
    color: white;

}

#proj1 #projectborder {
}

#proj2 #projectborder {
}

#proj3 #projectborder {
}

#proj4 #projectborder {
}

.secondarybutton {
    color: white;
    font-size: 1em;
    /*how do I center the cta within the box?*/
}

.secondarybutton:hover {
    font-weight: bolder;
}

#downloads {
	clear: both;
    padding: 1%;
}

#contact {
    padding: 1%;
}

footer {
    padding: 1%;
}

@media only screen and (max-width: 1058px) {
  .logo {    
    font-size: 2.75em;
    }
}

@media only screen and (max-width: 768px) {
   .logo {    
    font-size: 2em;
    text-align: center;
    }
  nav {    
    float: none;
    }

h1, h2, p{
    font-size: .75;
    text-align: center;

    }  
}



