@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.wrapper {
    width: 100%;
}

body {
	color: black;
	background-image: url("..//images/direwolf2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'proxima-nova', sans-serif;
	text-align: left top;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    /*How to get the border height to scale?*/
}

header {
    /*padding: 20px;*/
	font-size: 1em;
	font-weight: normal;
    width: 100%;
}

#hero {
    padding: 1%;
	text-align: center;
}

.logo {    
	color: white;
	background-color: rgba(3 3 3 50);
	font-size: 3em;
	font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 1em;
    line-height: 1.75em;
	text-align: left;
	margin-top: 0;
}

nav {
	padding-right: 2%;
	line-height: 1.5em;
	float: right;
	text-transform: uppercase;
	letter-spacing: .75em;
}


a {
	color: white;
	text-decoration: none;
}

#title {
	color: white;
	font-family: 'proxima-nova', sans-serif;
	font-size: 3em;
	text-align: left;
	line-height: 1em;
}

#byline {
	color: white;
	text-align: left;
	font-family: 'proxima-nova', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.5em;
}


.cta {
    color: white;
    background-color: transparent;
    padding: 16px 32px;
    font-size: 1em;
    border: 2px solid white;
/*how to position the button below the hero?*/
	margin-top: 300px;
}
/*did I treat this cta hover psuedoclass proeprly?*/
.cta:hover {
    background-color: white;
    color: black;
}

h1 {
	color: black;	
    font-size: 1em;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
}

h2 {	
	font-size: 1.5em;
	font-weight: normal;
	margin-left: 20px;
}


h3 {	
	font-size: 1.25em;
	font-weight: lighter;
	margin-left: 20px;
}

p {
	font-size: 1.15em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0px 20px 0px 20px;
}

#about-me {
	position: relative;
	margin-top: 380px;	
    padding: 1%;
}

#work {
    padding: 1%;
}

/*where should this really go? DO I need this when I have dlear:both meethod in #downloads?*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

article {
    float: left;
    border: 1px grey solid;
    padding: 1%;
    width: 46%;
    height: 200px;
}

#downloads {
	clear: both;
    padding: 1%;
}

#contact {
    padding: 1%;
}

footer {
    padding: 1%;
}




