@import url(https://fonts.googleapis.com/css?family=PT+Sans);
* { margin:0;padding:0;box-sizing:border-box;}
.wrapper {
    max-width: 75em;
    margin: auto;
}

#heroborder {
 	background-image: url("..//images/direwolf2.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	padding: 2em;
 	height: 100vh;
 	color: #FFF;
}

body {
	color: rgba(0,0,0,.87);
	font-family: 'proxima-nova', sans-serif;
	line-height: 1.5;
}

header {
	font-size: 1em;
	font-weight: normal;
	width: 100%;
	float: left;
	padding: 2em;
}

nav {
	float: right;
	text-transform: uppercase;
	letter-spacing: .5em;
	margin-top: 2em;
}

nav a {
	color: white;
	text-decoration: none;
}

a {
    text-decoration: none;
    transition-duration: .25s;
}

#hero {
    padding: 2em;
    height: 100%;
    border: 1px solid grey;
}

.logo {
	color: white;
    /*color is not working*/
	background-color: rgba(3 3 3 .5);
	font-size: 3em;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	letter-spacing: .75em;
	text-align: left;
	margin-top: 0;
	line-height: 1.5em;
	float: left;
	}

#title {
	
    /* placement with margin - good idea? 
    why does margin spill to bottom if tag is margin-top?*/
}

#byline {
	font-style: italic;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	text-align: left;
}

h2 {
	font-size: 1.5em;
	font-weight: normal;
}

.primarybutton {
    color: inherit;
    background-color: transparent;
    padding: 1em 2em;
    font-size: 1em;
    border: 2px solid;
    display: inline-block;
    margin-top: 1em;
}

.primarybutton:hover {
    border: 2px solid grey;
    background-color: grey;
    color: black;
}

h3 {	
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;	
    margin-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	float: left;
	font-size: 1.15em;
	width: 33.33%;
	/* padding-left: 2%; */
	text-align: center;
	line-height: 50px;
	color: black;
}

p {
	font-weight: normal;
	line-height: 1.5em;
}

#about-me {
	position: relative;
    padding: 1%;
}

#work {
	clear: both;
    padding: 1%;
}

/*where should this really go? DO I need this when I have dlear:both meethod in #downloads?*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*why arenb;t these columns spaced out like the li columns?*/
article {
    font-size: .75em;
    float: left;
    /* padding-left: 2%; */
    width: 33.33%;
    padding: .5em;
}

#projectborder {
    border: 1px solid grey;
    min-height: 145px;
    background-color: rgba(74, 74, 74, .25);
    color: white;
    padding: 2em;
}

#proj1 #projectborder {
}

#proj2 #projectborder {
}

#proj3 #projectborder {
}

#proj4 #projectborder {
}

.secondarybutton {
    color: white;
    font-size: 1em;
    /*how do I center the cta within the box?*/
    display: block;
    border: 2px solid;
    padding: 1em 2em;
    text-align: center;
}

.secondarybutton:hover {
    font-weight: bolder;
}

#downloads {
	clear: both;
    padding: 1%;
}

#contact {
    padding: 1%;
}

footer {
    padding: 1%;
}

@media only screen and (max-width: 1058px) {
  .logo {    
    font-size: 2.75em;
    }
}

@media only screen and (max-width: 768px) {
   .logo {    
    font-size: 2em;
    text-align: center;
    }
  nav {    
    float: none;
    }

h1, h2, p{
    font-size: .75;
    text-align: center;

    }  
}



