body {
	font-family: helvetica, sans-serif;
}

h1 {
	color: black;
	text-align: center;
	line-height: 2em;
	font-size: 40px;
}

h2 {
	font-size: 20px;
}


#container {
	width: 960px;
	color: white;

}

#one {
	background-color: blue;
	width: 280;
	padding: 10px;
	margin: 10px;
}

#two {
	background-color: green;
	width: 280;
	padding: 10px;
	margin: 10px;
}

#three {
	background-color: grey;
	width: 280;
	padding: 10px;
	margin: 10px;

}

#four {
	background-color: red;
}

#five {
	background-color: black;
}
