@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.wrapper {
   	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
    width: 100%;
}

body {
	color: black;
	background-image: url("..//images/direwolf2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'proxima-nova', sans-serif;
	text-align: left top;
    width: auto;
    height: 650px;
    border: 1px solid gray;
    margin: 20px 20px 20px 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
	font-size: 16px;
	font-weight: normal;
    width: 100%;
}

.logo {    
	color: white;
	font-size: 48px;
	font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    letter-spacing: 1em;
    line-height: 1em;
	text-align: center;
	margin: 20px 20px 20px 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
	height: 50px;
	text-align: right;
	margin-right: 20px;
}


a {
	color: white;
	text-decoration: none;
}

#title {
	color: white;
	font-family: 'proxima-nova', sans-serif;
	font-size: 48px;
	text-align: left;
	line-height: 1em;
}

#byline {
	color: white;
	text-align: left;
	font-family: 'proxima-nova', sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
	line-height: 1.5em;
	margin-top: 40px;
}

button {
    color: white;
    background-color: transparent;
    padding: 16px 32px;
    font-size: 16px;
    border: 2px solid white;
    /*position: relative;*/
    /*top: 200px;*/
}

button:hover {
    background-color: white;
    color: black;
}

h1 {
	color: black;	
    font-size: 48px;
    font-weight: normal;
    text-align: left;
    margin-left: 20px;
}

h2 {	
	font-size: 24px;
	font-weight: normal;
	margin-left: 20px;
}


h3 {	
	font-size: 20px;
	font-weight: lighter;
	margin-left: 20px;
}

p {
	font-size: 18px;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0px 20px 0px 20px;
}

#hero {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
	text-align: center;
}

#about-me {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

#work {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

#downloads {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

#contact {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}


